google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
ngrok
pandas
tabulate
dash
dash-bootstrap-components
plotly
matplotlib
timedelta
openai
googletrans==3.1.0a0
langchain
faiss-cpu
tiktoken
python-dotenv
textblob
streamlit